body{
    background-color: rgb(224,235,232);
}
h3{
    color: yellowgreen;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
    color: rgb(20, 14, 5);
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-top-width: 5px;
    width: 5%;

}